NEXT_PUBLIC_GENLAYER_RPC_URL=https://studio.genlayer.com/api
NEXT_PUBLIC_GENLAYER_CHAIN_ID=61999
NEXT_PUBLIC_CONTRACT_ADDRESS=0x7C0465AA895Bb77898bDdc2D8014B3eD5bdF1e36
NEXT_PUBLIC_WORKER_URL=https://slash-evidence-worker.delealufejoel.workers.dev
NEXT_PUBLIC_EXPLORER_URL=https://explorer-studio.genlayer.com
NEXT_PUBLIC_ADMIN_ADDRESSES=0x9DCe0dc7005d6b92E03c27640081096cd36Dd468
